body {
  font-family: 'Roboto', sans-serif;
}

p {
  color: #fd4659;
  font-size: 2em;
  border: 2px solid black;
  box-shadow: 6px 7px 26px -4px rgba(0,0,0,0.5);
}

p::selection {
  background-color: green;
  color: black;
  text-shadow: -4px -2px 6px rgba(150, 150, 150, 0.71);
}